/* .backdrop {
  width: 100vw; height: 100vh;
  z-index: 2;
  position: fixed;
  top: 0; left: 0;
  background-color: #000;
  opacity: 0.75;
}

.alert-box {
  position: fixed;
  top: 30vh; left: 20vw;
  width: 60vw;
  padding: 1rem;
  z-index: 3;
  background: #fff;
  box-shadow: 0 0.125rem 0.5rem #000;
  opacity: 0.26;
}
.alert-box-actions {
  text-align: right;
} */

#errorModal {
  display: block;
}

#errorModal .modal-dialog {
  top: 20vh;
}